# R Hidden Files
.Rproj.user
.Rhistory
.RData
.Ruserdata

# R Files
AudGenDB  RMarkdown Template.Rproj
audgendb_rmd_template_start.png alias
LoadAudGenDB_Rmarkdown_Template.html

# Mac OS
.DS_Store

# Subfolders with info
pre-git\ versions/*

# Individual Files
Rmarkdown document Template HowTo private.txt
README.html
README.md.html
