# R Hidden Files
.Rproj.user
.Rhistory
.RData
.Ruserdata

# R Files
AudGenDB  RMarkdown Template.Rproj

# Mac OS
.DS_Store

# Subfolders with info
pre-git\ versions/*

# Individual Files
Rmarkdown document Template HowTo private.txt
